import os
import streamlit as st
import hashlib
import sqlite3 #database 
import google.generativeai as genai
import pandas as pd 
import matplotlib.pyplot as plt
import easyocr
import random
import datetime
import webbrowser
import uuid  # For transaction IDs
import csv
from dataclasses import dataclass
